<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Double Travel</title>

    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">

    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">


</head>

<body id="page-top">

<div class="fixed-navigation">
        <span class="align-left">
            You are signed in as Stella Gavrailova
        </span>
    <span class="align-right">
        <a href="#" class="btn btn-outline btn-xl page-scroll">Logout</a>
        </span>
</div>
<div class="content">

    <header>
        <div class="container tab">
            <div class="col-sm-6">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>You dream to travel? </h1>
                        <h1>Do it now!</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Learn more!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="img/car.png"/>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">You can receive all the information you need from us!</h2>
                    <p> Just pick a country you want to visit and we are going to give you all the information you
                        need!</p>
                </div>
            </div>
        </div>
    </section>


    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Let's get started ...</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-12 center">

                <form id="select_country" action="" method="POST">
                    <div class="col-md-2">
                        <label class="form control">Choose a country:</label>
                    </div>
                    <div class="col-md-6">
                        <select name="countries" id="countries" class="form-control">
                         <?= $options ?>
                        </select>
                    </div>

                    <button class="btn btn-outline btn-xl" type="submit" value="submit"> Search</button>
                </form>
            </div>

            <div class="col-md-12" id="items">
                <div class="container-fluid">
                    <div class="col-md-11 row">
                        <div class="feature-item">
                            <div class="property-heading">
                                <i class="icon-info text-primary"></i>
                                <h4><b>Name:</b></h4>
                            </div>
                            <p class="text-muted tab"> <?= $selectedCountry->name ?> (<?=$selectedCountry->nativeName?>)</p>
                        </div>
                    </div>
                    <div class="col-md-11 row">
                        <div class="feature-item">
                            <div class="property-heading">
                                <i class="icon-map text-primary"></i>
                                <h4><b>Capital:</b></h4>
                            </div>
                            <p class="text-muted tab"> <?= $selectedCountry->capital?></p>
                        </div>
                    </div>
                    <div class="col-md-11 row">
                        <div class="feature-item">
                            <div class="property-heading">
                                <i class="icon-location-pin text-primary"></i>
                                <h4><b>Region:</b></h4>
                            </div>
                            <p class="text-muted tab"><?= $selectedCountry->region ?> (<?= $selectedCountry->subregion ?>)</p>
                        </div>
                    </div>
                    <div class="col-md-11 row">
                        <div class="feature-item">
                            <div class="property-heading">
                                <i class="icon-people text-primary"></i>
                                <h4><b>Population:</b></h4>
                            </div>
                            <p class="text-muted tab"><?= $selectedCountry->population ?></p>
                        </div>
                    </div>
                    <div class="col-md-11 row">
                        <div class="feature-item">
                            <div class="property-heading">
                                <i class="icon-directions text-primary"></i>
                                <h4><b>Area:</b></h4>
                            </div>
                            <p class="text-muted tab"><?= $selectedCountry->area ?> &#x33a2</p>
                        </div>
                    </div>
                    <div class="col-md-11 row">
                        <div class="feature-item">
                            <i class="icon-wallet text-primary"></i>
                            <h4><b>Currencies:</b></h4>
                            <p class="text-muted tab"><?= $selectedCountry->currencies?></p>
                        </div>
                    </div>
                    <div class="col-md-11 row">
                        <div class="feature-item">
                            <div class="property-heading">
                                <i class="icon-speech text-primary"></i>
                                <h4><b>Languages:</b></h4>
                            </div>
                            <p class="text-muted tab"><?= $selectedCountry->languages ?></p>
                        </div>
                    </div>
                    <div id="lat" hidden><?= $selectedCountry->latlng[0] ?></div>
                    <div id="lng" hidden><?= $selectedCountry->latlng[1]?></div>

                    <button class="btn btn-outline btn-xl">Find countries in the same region</button>
                    <div>
                        <ul>
                            <?= $relatedCountriesList ?>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div id="googleMap" style="width:100%;height:400px;background:gray"></div>
</div>


<footer>
    <div class="container">
        <p>&copy; FMI - Web technologies 2016-2017. Lecturer: Milen Petrov. Student: Stella Gavrailova.</p>
    </div>
</footer>

<!-- jQuery -->
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<script src="/js/index.js"></script>

<script>
    var lat = (document.getElementById('lat')).innerHTML;
    var lng = (document.getElementById('lng')).innerHTML;
    function myMap() {
        var center = new google.maps.LatLng(lat,lng);
        var mapProp= {
            center: center,
            zoom:5
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({position: center});
        map.panTo(center);
        marker.setMap(map);


    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvW2yIxm-rxArvKbzrrle25lWTWAXMNtg&callback=myMap"></script>

</body>

</html>