<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="../css/layout.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">
</head>
<body>
    <div class="login">
        <header class="login-header"><span class="text">LOGIN</span><span class="loader"></span></header>
        <form class="login-form" action="../login.php" method="POST">
            <input class="login-input" type="text" id="email" name="email" placeholder="Email"/>
            <input class="login-input" type="password" id="password" name="password" placeholder="Password"/>
            <button class="login-btn" type="submit">login</button>
        </form>
    </div>

    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="../js/index.js"></script>
    <script src="../js/login.js"></script>

</body>
</html>