<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="login">
        <header class="login-header"><span id="login-title" class="text">Login</span><span class="loader"></span></header>
        <form class="login-form" action="" method="POST">
            <input class="login-input" type="text" id="email" name="email" placeholder="Email"/>
            <input class="login-input" type="password" id="password" name="password" placeholder="Password"/>
            <input class="login-input hidden" type="text" id="first_name" name="first_name" placeholder="First Name"/>
            <input class="login-input hidden" type="password" id="last_name" name="last_name" placeholder="Last Name"/>

            <button class="login-btn" type="submit">login</button>
        </form>

    </div>
    <div>
        <button id="signup-btn" class="btn btn-outline btn-xl sign-up-btn">Sign up now!</button>
    </div>

    <!-- JavaScript -->
    <script src="js/index.js"></script>
    <script src="js/login.js"></script>

</body>
</html>